<div class="container">
    <div class="container">
   
       <table class="table table-sm">
            <h2>Evaluaciones</h2>
             <label>Buscar: <input ng-model ="buscarText"></label>
            <thead>
            <tr>            
                <th>#</th>
                <th>Nombres</th>
                <th>DNI</th>
                <th>e-mail</th>
                <th>Celular</th>
                <th>Plan</th>
                <th>Modalidad</th>
                <th>Operadora</th>
                <th>Equipo</th>
                <th>Check</th>
                <th>Opciones</th>

            </tr>
            <tr dir-paginate="evaluacion in vm.evaluaciones |filter:buscarText| itemsPerPage:10">
                    <td>{{$index+1}}</td>
                    <td>{{evaluacion.nombre}}</td>
                    <td>{{evaluacion.dni}}</td>
                    <td>{{evaluacion.correo}}</td>
                    <td>{{evaluacion.celular}}</td>
                    <td>{{evaluacion.plan}}</td>
                    <td>{{evaluacion.modalidad}}</td>
                    <td>{{evaluacion.operadora}}:{{evaluacion.lineaActual}}</td>
                    <td>{{evaluacion.equipo}}</td>                          
                    <td>
                        <fieldset class="form-group" accesskey="" lign="center">
                            <input type="checkbox" id="checkbox1" ng-model="evaluacion.revisado" ng-change="vm.updateEvaluacion(evaluacion)">
                            <label for="checkbox1"></label>
                        </fieldset>
                    </td>
                    <td><button class="btn danger-color btn-danger btn-md"  ng-click="vm.removeEvaluacion(evaluacion);" ng-hide="editing" title="Eliminar"><i class="fa fa-trash-o"></i></button></td>

            </tr>
            </thead>

        </table>
         <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" ></dir-pagination-controls>
    </div>

</div>
