<div class="container">
    <div class="container facturas-container">
    <h1 ng-hide="vm.detalle">Facturas</h1>
    <button href="#ventana1" class="btn btn-primary btn-md" data-toggle="modal" ng-hide="vm.detalle">Agregar Factura</button>
    <br><br>
        <table class="table table-bordered table-striped table-hovered table-condensed" ng-hide="vm.detalle">
            <th>Serie</th>
            <th>n° factura</th>
            <th>Fecha</th>
            <th>Productos</th>
            <th>Sub Total</th>
            <th>IGV</th>
            <th>Total</th>
            <th>Actions</th>
            <tr ng-repeat="factura in vm.facturas">
                <td ng-if="!editing" >{{factura.serie}}</td>
                <td ng-if="!editing">{{factura.num_fact}}</td>
                <td ng-if="!editing">{{factura.fecha | date:"dd/MM/y"}}</td>
                <td ng-if="!editing"><button class="btn btn-primary" ng-click="vm.showDetalles(factura)" >productos</button></td>
                <td ng-if="!editing">{{factura.sub_total}}</td>
                <td ng-if="!editing">{{factura.igv}}</td>
                <td ng-if="!editing">{{factura.total}}</td>
                <td ng-if="editing">
                	<input type="text" ng-model="factura.serie" class="form-control" style="width:60px;">
                </td>
                <td ng-if="editing">
                	<input type="text" ng-model="factura.num_fact" class="form-control" style="width:60px;">
                </td>
                <td ng-if="editing">
                	<input type="text" ng-model="factura.fecha" class="form-control" style="width:120px;">
                </td>
                <td ng-if="editing">
                    Productos
                </td>
                <td ng-if="editing">
                	<input type="text" ng-model="factura.sub_total" class="form-control" style="width:60px;">
                </td>
                <td ng-if="editing">
                	<input type="text" ng-model="factura.igv" class="form-control" style="width:60px;">
                </td>
                <td ng-if="editing">
                	<input type="text" ng-model="factura.total" class="form-control" style="width:60px;">
                </td>
                <td>
                    <button ng-hide="editing" class="btn btn-warning" ng-click="editing=!editing">Edit</button>
                    <button ng-hide="!editing" class="btn btn-success" ng-click="vm.updateFactura(factura);editing=false;">Save</button>
                    <button class="btn btn-primary" ng-hide="!editing" ng-click="editing=!editing">Back</button>
                    <button class="btn btn-danger" ng-click="vm.removeFactura(factura);" ng-hide="editing">Delete</button>
                </td>
            </tr>
        </table>
        
        <div class="modal fade" id="ventana1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-tittle">Facturas</h2>  
                    </div>
                    <div class="modal-body">
                        <div class="container create-facturas">
                            <div class="form-group">
                                <label for="serie">Serie</label>
                                <input required type="text" id="serie" class="form-control" style="width:90px;" ng-model="vm.factura.serie">
                            </div>
                            <div class="form-group">
                                <label for="num_fact">N° Factura</label>
                                <input required type="text" id="num_fact" class="form-control" style="width:90px;" ng-model="vm.factura.num_fact">
                            </div>
                            <div class="form-group">
                                <label for="fecha">Fecha</label>
                                <input type="datetime" id="fecha" class="form-control" style="width:100px;" ng-model="vm.factura.fecha">
                            </div>
                            <div class="form-group">
                                <label for="sub_total">Sub Total</label>
                                <input type="text" id="sub_total" class="form-control" style="width:90px;" ng-model="vm.factura.sub_total">
                            </div>
                            <div class="form-group">
                                <label for="igv">IGV</label>
                                <input type="text" id="igv" class="form-control" style="width:90px;" ng-model="vm.factura.igv">
                            </div>
                            <div class="form-group">
                                <label for="total">Total</label>
                                <input type="text" id="total" class="form-control" style="width:90px;" ng-model="vm.factura.total">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success"  ng-disabled="!vm.factura.serie || !vm.factura.num_fact || !vm.factura.sub_total || !vm.factura.igv || !vm.factura.total" ng-click = "vm.addFactura(vm.factura)" data-dismiss="modal">Add</button>
                            <button class="btn btn-primary" data-dismiss="modal" >Back</button>
                        </div>                 
                    </div>  
                </div>
            </div>
        </div>
    <div class="container detalles-container" ng-if="vm.detalle === true">
        <div class="jumbotron">
        <h2>Detalle Factura</h2>
        <h3>{{vm.detalleFactura.serie}} N°{{vm.detalleFactura.num_fact}}</h3><h5>Fecha: {{vm.detalleFactura.fecha | date:"dd/MM/y"}}</h5>
        <button href="#ventana2" class="btn btn-primary btn-md" data-toggle="modal">agregar producto</button>
            <br>
            <br>
            <table class="table table-bordered table-striped table-hovered table-condensed">
                <th>Codigo</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Valor Unitario</th>
                <th>Total</th>
                <th>Actions</th>
                <tr ng-repeat = "producto in vm.detalleFactura.productos">
                    <td ng-if="!editing">{{producto.codigo}}</td>
                    <td ng-if="!editing">{{producto.descripcion}}</td>
                    <td ng-if="!editing">{{producto.cantidad}}</td>
                    <td ng-if="!editing">{{producto.precio_u}}</td>
                    <td ng-if="!editing">{{producto.valor_u}}</td>
                    <td ng-if="!editing">{{producto.total}}</td>
                    <td ng-if="editing">
                        <input type="text" ng-model="producto.codigo" class="form-control" style="width:80px;">
                    </td>
                    <td ng-if="editing">
                        <input type="text" ng-model="producto.descripcion" class="form-control" style="width:100px;">
                    </td>
                    <td ng-if="editing">
                        <input type="text" ng-model="producto.cantidad" class="form-control" style="width:60px;">
                    </td>
                    <td ng-if="editing">
                        <input type="text" ng-model="producto.precio_u" class="form-control" style="width:60px;">
                    </td>
                    <td ng-if="editing">
                        <input type="text" ng-model="producto.valor_u" class="form-control" style="width:60px;">
                    </td>
                    <td ng-if="editing">
                        <input type="text" ng-model="producto.total" class="form-control" style="width:60px;">
                    </td>
                    <td>
                        <button class="btn btn-success btn-md" href="#ventana3" data-toggle="modal" ng-click="vm.showNum(producto)">N°serie</button>
                        <button ng-hide="editing" class="btn btn-warning" ng-click="editing=!editing">Edit</button>
                        <button ng-hide="!editing" class="btn btn-success" ng-click="vm.updateProducto(producto);editing=false;">Save</button>
                        <button class="btn btn-primary" ng-hide="!editing" ng-click="editing=!editing">Back</button>
                        <button class="btn btn-danger" ng-click="vm.removeProducto(producto);" ng-hide="editing">Delete</button>
                    </td>
                    
                </tr>
            </table>

            <div>
            <br>
                <button class="btn btn-danger" ng-click="vm.detalle=false">Back</button>
            </div>
            <div class="modal fade" id="ventana2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-tittle">Productos</h2>  
                    </div>
                    <div class="modal-body">
                        <div class="container create-productos">
                            <div class="form-group">
                                <label for="codigo">Codigo</label>
                                <input required type="text" id="codigo" class="form-control" style="width:90px;" ng-model="vm.detalleFactura.productos.codigo">
                            </div>
                            <div class="form-group">
                                <label for="descripcion">Descripción</label>
                                <input required type="text" id="descripcion" class="form-control" style="width:90px;" ng-model="vm.detalleFactura.productos.descripcion">
                            </div>
                            <div class="form-group">
                                <label for="cantidad">Cantidad</label>
                                <input type="text" id="fecha" class="form-control" style="width:90px;" ng-model="vm.detalleFactura.productos.cantidad">
                            </div>
                            <div class="form-group">
                                <label for="precio_u">Precio Unitario</label>
                                <input type="text" id="precio_u" class="form-control" style="width:90px;" ng-model="vm.detalleFactura.productos.precio_u">
                            </div>
                            <div class="form-group">
                                <label for="valor_u">Valor Unitario</label>
                                <input type="text" id="valor_u" class="form-control" style="width:90px;" ng-model="vm.detalleFactura.productos.valor_u">
                            </div>
                            <div class="form-group">
                                <label for="total">Total</label>
                                <input type="text" id="total" class="form-control" style="width:90px;" ng-model="vm.detalleFactura.productos.total">
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success"  ng-disabled="!vm.detalleFactura.productos.codigo || !vm.detalleFactura.productos.descripcion || !vm.detalleFactura.productos.cantidad || !vm.detalleFactura.productos.precio_u || !vm.detalleFactura.productos.valor_u" ng-click = "vm.addProducto(vm.detalleFactura.productos)" data-dismiss="modal">Add</button>
                        <button class="btn btn-primary" data-dismiss="modal" >Back</button>
                    </div>                 
                </div>  
            </div>
            </div>
                
            </div>
            <div class="modal fade" id="ventana3">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <!--<h2 class="modal-tittle">N° Serie</h2>-->  
                        </div>
                        <div class="modal-body">
                            <div class="container show-num_serie">
                            <div>
                                 <input type="number" ng-model="num_serie" class="form-control" style="width:150px;">
                                 <button class="btn btn-success" ng-click="vm.addSerie(num_serie)">+</button>
                            </div>
                               
                                <table class="table table-bordered table-hovered table-condensed">
                                    <th>Numero de serie</th>
                                    <th></th>
                                        <tr ng-repeat="num_serie in vm.detalleProducto.num_serie">
                                            <td>{{num_serie.num}}</td>
                                            <td><button class="btn btn-danger" ng-click="vm.removeSerie(num_serie)">X</button></td>
                                        </tr>
                                </table>
                                
                            </div>
                        <div class="modal-footer">
                            
                        </div>                 
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>