<div class="container">
    <div class="container productos-container">
        

        <h1>Productos</h1>
        <table class="table table-bordered table-striped table-hovered table-condensed">
            <th>Codigo</th>
            <th>Descripción</th>
            <th>Precio</th>
            
            <tr ng-repeat="producto in vm.producto_precio">
                <td ng-if="!editing">{{producto.codigo}}</td>
                <td ng-if="!editing">{{producto.descripcion}}</td>
                <td ng-if="!editing"><button class="btn btn-success btn-md" href="#ventana1" data-toggle="modal" ng-click="vm.showPrecios(producto)">Precio</button></td>
                           
            </tr>
        </table>
        
        
        <div class="modal fade" id="ventana1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="gridSystemModalLabel"><center>PRECIO PRODUCTO</center></h4>
                        </div>
                        <div class="modal-body">
                            <div class="container show-precio_var">
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="number" placeholder="Precio S/." ng-model="precio_var" class="form-control" style="width:150px;">
                                    <input type="date" ng-model="fecha_precio" class="form-control" style="width:150px;">
                                    <button class="btn btn-success btn-md" ng-click="vm.addPrecioP(precio_var,fecha_precio) " title="Agregar">+</button>    
                                </div>
                                
                                <div>
                                
                                </div>
                            </div>
                            </div>
                            <br>
                            <table class="table table-bordered table-hovered table-condensed">
                                    <th><center>Precio S/.</center></th>
                                    <th><center>Fecha</center></th>
                                    <th><center>Accion</center></th>
                                        <tr ng-repeat="precio_var in vm.preciosProducto.precio_var">
                                            <td>{{precio_var.precio_v}}</td>
                                            <td>{{precio_var.fecha | date:"dd/MM/y"}}</td>
                                            <td><button class="btn btn-danger btn-md" ng-click="vm.removePrecioP(precio_var)" title="Eliminar">x</button></td>    
                                        </tr>
                            </table>
                                
                            </div>

                        <div class="modal-footer"></div>
                                      
                    </div>  
                </div>

        </div>
    </div>
</div>
