<div class="container">
	<div class="container ventas-container">
		<div class="container create-container" ng-hide="vm.mostrarVentas">
		<h1 nh-hide="vm.mostrarVentas">Registrar Venta</h1>
			<div class="form-group">

			<div class="card">
				<h3 class="card-header danger-color white-text">Datos del Cliente</h3>
				    <div class="card-block">

				    	<div class="row">
						  <div class="col-md-4">
						    <input type="text" placeholder="Nombres y Apellidos" class="form-control" ng-model="vm.venta.nombres" style="width:300px;">
						  </div>
						  <div class="col-md-4">
							<input type="text" placeholder="DNI" class="form-control" ng-model="vm.venta.dni" style="width:300px;">
						  </div>
						</div>
						<div class="row">
						  <div class="col-md-4">
						  		<input class="form-control" placeholder="Dirección" type="text" ng-model="vm.venta.direccion" style="width:300px;">
						  </div>
						  <div class="col-md-4">
							<input type="text" placeholder="Referencia de dirección" class="form-control" ng-model="vm.venta.ref_dir" style="width:300px;">
						  </div>
						</div>
				    	<div class="form-group">
				    		<input type="text" placeholder="Numero de referencia" class="form-control" ng-model="vm.venta.num_ref" style="width:250px;">
				    	</div>
				    </div>
			</div>
			<br>

			<div class="card">
				<h3 class="card-header danger-color white-text">Datos del Producto</h3>
				    <div class="card-block">
				    	<div class="row">
						  <div class="col-md-4">
						    <label for="producto">Producto:<select class="form-control" ng-model="vm.venta.producto1" ng-options="producto._id as producto.nombre for producto in vm.productos" id="producto"></select></label>
						  </div>
						  <div class="col-md-4">
							<label for="num_serie">ICCID:<input id="num_serie" class="form-control" type="number" ng-model="vm.venta.num_serie"></label>
						  </div>
						</div>

						<div class="row">
						  <div class="col-md-4">
						    <label for="producto2">Producto:<select class="form-control" ng-model="vm.venta.producto2" ng-options="producto._id as producto.nombre for producto in vm.productos" id="producto"></select></label>
						  </div>
						  <div class="col-md-4">
							<label for="num_imei">IMEI:<input id="num_imei" type="number" ng-model="vm.venta.num_imei" class="form-control"></label>
						  </div>
						</div>

			    		<div class="row">
						  <div class="col-md-4">
						    <input class="form-control" type="text" placeholder="Plan" ng-model="vm.venta.plan" style="width:250px;">
						  </div>
						  <div class="col-md-4">
							<input type="text" class="form-control" placeholder="Numero vendido" ng-model="vm.venta.num" style="width:250px;">
						  </div>
						</div>
				    </div>
			</div>

			<br>

			<div class="panel panel-info">
			  <div class="panel-footer">
			  <label for="empleado">Vendedor:</label>
				<select class="form-group" ng-model="vm.venta.empleado" ng-options="empleado as empleado.nombre for empleado in vm.empleados"></select>
				<div class="form-group">
				    <textarea type="text" id="observaciones" class="md-textarea" placeholder="Observaciones" ng-model="vm.venta.obs" style="width:350px"></textarea>
				</div>
			  </div>
			</div>

			<div>
				<button class="btn btn-primary btn-md" ng-disabled="!vm.venta.dni||!vm.venta.nombres||!vm.venta.num_ref||!vm.venta.empleado" ng-click="vm.addVenta(vm.venta)">Listo</button>
				<button class="btn btn-success btn-md" ng-click="vm.limpiar()">Limpiar</button>
				<button class="btn danger-color btn-danger btn-md" ng-click="vm.MostrarVentas()">Ver Ventas</button>
			</div>
			</div>
		</div>
		<div class="container mostrar-ventas" ng-if = "vm.mostrarVentas === true">
            <button class="close" ng-click="vm.mostrarVentas=!vm.mostrarVentas" aria-hidden="true">&times;</button>
            <table class="table table-bordered table-striped table-hovered table-condensed table-sm">
                <th>Vendedor</th>
                <th>Producto:N° serie</th>
                <th>Producto:N° imei</th>
                <th>Fecha de Venta</th>
                <th>DNI del Cliente</th>
                <th>Observaciones</th>
                <th>Opciones</th>
                <tr ng-repeat="venta in vm.ventas">
                	<td>{{venta.empleado.nombre}}</td>
                	<td>{{venta.producto1.descripcion}} : {{venta.num_serie}}</td>
                
                	<td>{{venta.producto2.descripcion}} : {{venta.num_imei}}</td>
                	<td>{{venta.fecha_venta | date:"dd/MM/y"}}</td>
                	<td>{{venta.dni}}</td>
                	<td>{{venta.obs}}</td>
                	<td>
                		<button class="btn btn-danger btn-md" ng-click="vm.removeVenta(venta)">eliminar</button>
                	</td>

                </tr>

            </table>
        </div>
	</div>
</div>