<!--<script src="./controllers/EvaluacionCtrl.js"></script>-->

<div class="container">
    <div class="row">
        <!--Sidebar-->
        <div class="col-lg-4">
            <div class="widget-wrapper">
                <h4>Categorías:</h4>
                <br>
                <div class="list-group">

                    <a class="list-group-item" ng-click="vm.cambiar('plan')">Planes</a>
                    <a class="list-group-item" ng-click="vm.cambiar('smartphone')">Smartphones</a>
                    <a class="list-group-item" ng-click="vm.cambiar('internet')">Internet</a>
                    <a class="list-group-item" ng-click="vm.cambiar('telefonia fija')">Telefonia Fija</a>
                    <a class="list-group-item" ng-click="vm.cambiar('television')">Televisión</a>
                    <a class="list-group-item" ng-click="vm.cambiar('accesorio')">Accesorios</a>
                    <a class="list-group-item" ng-click="vm.cambiar('')">Todos</a>
                </div>
            </div>
            <div class="widget-wrapper">
                <h4>Deja aqui tus datos:</h4>
                <br>
                <div class="card">
                    <div class="card-block">
                        <p><strong>Tus datos</strong></p>
                        <p>Arma el plan que mas se acomode a tus necesidades</p>
                        autocompletar
                        <div class="md-form">
                            <i class="fa fa-mobile prefix"></i>
                            <angucomplete-alt id="ex1"
                              placeholder="buscar equipo"
                              pause="100"
                              selected-object="vm.evaluacion.equipo"
                              local-data="vm.equipos"
                              search-fields="nombre"
                              title-field="nombre"
                              minlength="1"
                              input-class="form-control"/>
                            <label for="equipo">Equipo</label>
                        </div>
                        <div class="md-form" >
                            <i class="fa fa-list prefix"></i>
                            <angucomplete-alt id="ex1"
                              placeholder="buscar plan"
                              pause="100"
                              selected-object="vm.evaluacion.plan"
                              local-data="vm.planes"
                              search-fields="plan"
                              title-field="plan"
                              minlength="1"
                              input-class="form-control"/>
                            
                            <label for="plan">Plan</label>
                            
                        </div>
                        <!-- añadir modalidad de consulta
                        <div class="md-form">
                            
                            <h5>Modalidad</h5>
                            <select type="text" id="modalidad" ng-model="vm.modalidad" class="form-control" style="width:200px;border-radius: 10px;">
                                <option value="Linea Nueva">Linea Nueva</option>
                                <option value="Portabilidad">Portabilidad</option>
                                <option value="Renovación">Renovación</option>
                            </select>
                        </div> 
                        <div class="text-center">
                            <button class="btn btn-primary" ng-click = "vm.mostrarPrecio(vm.equipo.originalObject,vm.plan.originalObject)">Precio</button>
                        </div>
-->
                        <div class="md-form">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" id="nombre" class="form-control" ng-model="vm.evaluacion.nombre">
                            <label for="nombre">Nombres y Apellidos</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-credit-card prefix"></i>
                            <input type="text" id="dni" class="form-control" ng-model="vm.evaluacion.dni">
                            <label for="dni">DNI</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-at prefix"></i>
                            <input type="text" id="correo" class="form-control" ng-model="vm.evaluacion.correo">
                            <label for="correo">Correo Electronico</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-phone prefix"></i>
                            <input type="text" id="num_celular" class="form-control" ng-model="vm.evaluacion.celular">
                            <label for="num_celular">Numero de Celular</label>
                        </div>
                        
                       
                        <div class="text-center">
                        <button class="btn danger-color btn-danger" ng-click = "vm.addEvaluacion(vm.evaluacion)">Enviar</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!--/.Sidebar-->
        <!--Main column-->
        <div class="col-lg-8">
            <!--First row-->
            <div class="row" ng-hide="vm.cat">
                <div class="col-lg-12">
                    <div class="divider-new">
                        <h2 class="h2-responsive">Ofertas</h2>
                    </div>
                    <!--Carousel Wrapper-->
                    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                        <!--Indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="4"></li>
                            
                          
                        </ol>
                        <!--/.Indicators-->
                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                            <!--First slide-->
                            <div class="carousel-item active">
                                <img ng-src="{{vm.ofertas[0].url}}">
                                <div class="carousel-caption">
                                    <h4></h4>
                                    <br>
                                </div>
                            </div>
                            <!--/First slide-->
                            <!--Second slide-->
                            <div class="carousel-item">
                                <img ng-src="{{vm.ofertas[1].url}}" alt="Second slide">
                                <div class="carousel-caption">
                                    <h4></h4>
                                    <br>
                                </div>
                            </div>
                            <!--/Second slide-->
                            <!--Third slide-->
                            <div class="carousel-item">
                                <img ng-src="{{vm.ofertas[2].url}}" alt="Third slide">
                                <div class="carousel-caption">
                                    <h4></h4>
                                    <br>
                                </div>
                            </div>
                            <!--/Third slide-->
                        </div>
                        <!--/.Slides-->
                        <!--Controls-->
                        <a class="carousel-control-prev" data-target="#carousel-example-1z" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" data-target="#carousel-example-1z" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!--/.Controls-->
                    </div>
                    <!--/.Carousel Wrapper-->
                </div>
            </div>
            <!--/.First row-->
            <br>
            <hr class="extra-margins">
            <!--Second row-->
            <div class="row">
                
            <div class="col-lg-4" ng-repeat="tarjeta in vm.tarjetas | filter: vm.cat">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <img ng-src="{{tarjeta.url}}" class="img-fluid">
                    <!--/.Card image-->
                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">{{tarjeta.titulo}}</h4>
                        <!--Text-->
                        <p class="card-text">{{tarjeta.descripcion}}</p>
                    </div>
                    <!--/.Card content-->
                </div>
                <!--/.Card-->
            </div>
            </div>
            
            <!--/.Second row-->
        </div>
        <!--/.Main column-->
    </div>
</div>
<!--/.Main layout-->