<!--<script src="./controllers/EvaluacionCtrl.js"></script>-->

<div class="container">
    <div class="row">
        <!--Sidebar-->
        <div class="col-lg-4">
            <div class="widget-wrapper">
                <h4>Categorias:</h4>
                <br>
                <div class="list-group">
                    <a href="#" class="list-group-item">Planes</a>
                    <a href="#" class="list-group-item">Smartphones</a>
                    <a href="#" class="list-group-item">Accesorios</a>
                </div>
            </div>
            <div class="widget-wrapper">
                <h4>Deja aqui tus datos:</h4>
                <br>
                <div class="card">
                    <div class="card-block">
                        <p><strong>Tus datos</strong></p>
                        <p>Arma el plan que mas se acomode a tus necesidades</p>
                        <div class="md-form">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" id="nombre" class="form-control" ng-model="vm.evaluacion.nombre">
                            <label for="nombre">Nombres y Apellidos</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-credit-card prefix"></i>
                            <input type="text" id="dni" class="form-control" ng-model="vm.evaluacion.dni">
                            <label for="dni">DNI</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-at prefix"></i>
                            <input type="text" id="correo" class="form-control" ng-model="vm.evaluacion.correo">
                            <label for="correo">Correo Electronico</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-phone prefix"></i>
                            <input type="text" id="num_celular" class="form-control" ng-model="vm.evaluacion.celular">
                            <label for="num_celular">Numero de Celular</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-list prefix"></i>
                            <input type="text" id="plan" class="form-control" ng-model="vm.evaluacion.plan">
                            <label for="plan">Plan</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-mobile prefix"></i>
                            <input type="text" id="equipo" class="form-control" ng-model="vm.evaluacion.equipo">
                            <label for="equipo">Equipo</label>
                        </div>
                       
                        <div class="text-center">
                        <button class="btn btn-danger" ng-click = "vm.addEvaluacion(vm.evaluacion)">Enviar</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!--/.Sidebar-->
        <!--Main column-->
        <div class="col-lg-8">
            <!--First row-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="divider-new">
                        <h2 class="h2-responsive">Ofertas</h2>
                    </div>
                    <!--Carousel Wrapper-->
                    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                        <!--Indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                        </ol>
                        <!--/.Indicators-->
                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                            <!--First slide-->
                            <div class="carousel-item active">
                                <img src="/home/img/carrousel/internet.jpg" alt="First slide">
                                <div class="carousel-caption">
                                    <h4></h4>
                                    <br>
                                </div>
                            </div>
                            <!--/First slide-->
                            <!--Second slide-->
                            <div class="carousel-item">
                                <img src="/home/img\carrousel\telefonia fija.jpg" alt="Second slide">
                                <div class="carousel-caption">
                                    <h4></h4>
                                    <br>
                                </div>
                            </div>
                            <!--/Second slide-->
                            <!--Third slide-->
                            <div class="carousel-item">
                                <img src="home/img\carrousel\television.jpg" alt="Third slide">
                                <div class="carousel-caption">
                                    <h4></h4>
                                    <br>
                                </div>
                            </div>
                            <!--/Third slide-->
                        </div>
                        <!--/.Slides-->
                        <!--Controls-->
                        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!--/.Controls-->
                    </div>
                    <!--/.Carousel Wrapper-->
                </div>
            </div>
            <!--/.First row-->
            <br>
            <hr class="extra-margins">
            <!--Second row-->
            <div class="row">
                <!--First columnn-->
                <div class="col-lg-4">
                    <!--Card-->
                    <div class="card">
                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="home/img\HFC\INTERNET 16MB.jpg" class="img-fluid" alt="">
                            <a href="#">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">INTERNET 16MB</h4>
                            <!--Text-->
                            <p class="card-text">el primer mes, luego s/.100.00 al mes. </p>
                            <a href="#" class="btn btn-danger">SOLICITAR</a>
                        </div>
                        <!--/.Card content-->
                    </div>
                    <!--/.Card-->
                </div>
                <!--First columnn-->
                <!--Second columnn-->
                <div class="col-lg-4">
                    <!--Card-->
                    <div class="card">
                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="home/img\HFC\INTERNET 30MB.jpg" class="img-fluid" alt="">
                            <a href="#">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">INTERNET 30MB</h4>
                            <!--Text-->
                            <p class="card-text">el primer mes, luego s/.130.00 al mes.</p>
                            <a href="#" class="btn btn-danger">SOLICITAR</a>
                        </div>
                        <!--/.Card content-->
                    </div>
                    <!--/.Card-->
                </div>
                <!--Second columnn-->
                <!--Third columnn-->
                <div class="col-lg-4">
                    <!--Card-->
                    <div class="card">
                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="home/img\HFC\INTERNET 200MB.jpg" class="img-fluid" alt="">
                            <a href="#">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">INTERNET 200MB</h4>
                            <!--Text-->
                            <p class="card-text">el primer mes, luego s/.450.00 al mes.</p>
                            <a href="#" class="btn btn-danger">SOLICITAR</a>
                        </div>
                        <!--/.Card content-->
                    </div>
                    <!--/.Card-->
                </div>
                <!--Third columnn-->
            </div>
            <!--/.Second row-->
        </div>
        <!--/.Main column-->
    </div>
</div>
<!--/.Main layout-->