<div class="container" style="width:450px">

	<div class="card">
	    <div class="card-block" >
	      
	      
	        <div class="text-center">
	            <h3><i class="fa fa-user"></i> Nuevo Usuario:</h3>
	            <hr class="mt-2 mb-2">
	        </div>

	        <form ng-submit="vm.regUser();;">
		        <div class="md-form">		        
		            <i class="fa fa-user prefix"></i>
		            <input type="text" class="form-control" ng-model="vm.userData.username">
		            <label>User</label>
		        </div>

		        <div class="md-form">
		            <i class="fa fa-lock prefix"></i>
		            <input type="password" class="form-control" ng-model="vm.userData.password">
		            <label >Password</label>
		        </div>
		        <div class="text-center">
		            <button type="submit" class="btn btn-primary">Registrar</button>
		        </div>
	        </form>

	    </div>
	</div>

</div>
<div class="jumbotron text-center" ng-show="vm.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>

<div class="row show-hide-message" ng-show="vm.successMsg">
	<div class="alert alert-success">
		{{vm.successMsg}}
	</div>
</div>

<div class="row show-hide-message" ng-show="vm.errorMsg">
	<div class="alert alert-danger">
		{{vm.errorMsg}}
	</div>
</div>
